/* FavoriteMovies.css */
.favorite-movies-container {
  padding-top: 150px;
  padding-left: 15px;
  padding-right: 15px; /* Adjusted padding for mobile devices */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.fav-header {
  color: #A8AEBF;
  font-size: 20px;
}

.clear-favorites-button {
  background-color: transparent; /* Change background color to transparent */
  color: #A8AEBF; /* Use red color for text */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.3s; /* Add transition for color */
}

.clear-favorites-button:hover {
  color: #cc0000; /* Change text color on hover */
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.no-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.no-favorites-text {
  color: #a8aebf;
  font-size: 24px;
  text-align: center;
}
.no-favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.no-favorites-text {
  color: #a8aebf;
  font-size: 52px;
  text-align: center;
  margin-bottom: 20px;
}

.add-favorites-link {
  text-decoration: none;
}

.add-favorites-button {
  background-color: #061417;
  color: #a8aebf;
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-favorites-button:hover {
  background-color: #0c2b33;
}

/* Media queries for responsiveness */

/* Tablets */
@media (min-width: 600px) {
  .favorite-movies-container {
    padding: 80px; /* Adjusted padding for tablets */
  }

  .fav-header {
    font-size: 24px; /* Increased font size for tablets */
  }
}

/* Desktops */
@media (min-width: 992px) {
  .favorite-movies-container {
    padding: 140px; /* Original padding for desktops */
  }

  .fav-header {
    font-size: 28px; /* Increased font size for desktops */
  }
}
